<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfunh0n7NIKWzzUYErg0vEWTPqA2hSvLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>869422894847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qeyadah.mobile</string>
	<key>PROJECT_ID</key>
	<string>qeyadah</string>
	<key>STORAGE_BUCKET</key>
	<string>qeyadah.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869422894847:ios:f8ec6d1529fdae216ac6ca</string>
</dict>
</plist>